@import url('https://fonts.googleapis.com/css2?family=Convergence&display=swap');
@import "~bootstrap/scss/bootstrap";

:root {
--main-color: #E59494;
--secondary-color: #F9DDDD;

}

body {
    background-color: lightgray;
    font-family: 'Convergence';
}

.bg-main-color {
  background-color: var(--main-color);
}
.bg-secondary-color {
  background-color: var(--secondary-color);
}